<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" /> 
    <title>Movies</title>
</head>
<body>
    <div class="movie_card" id="bright">
        <div class="info_section">
          <div class="movie_header">
            <% data1.forEach(function(movie) { %>
            <img class="locandina" src="<%= movie.Image %>"/>
                <h1><%= movie.title %></h1>
                <h4><%= movie.year %></h4>
                <span class="minutes"><%= movie.duration %> min</span>
                <p class="type"><%= movie.type %></p>
            
        </div>
          <div class="movie_desc">
            <p class="text">
              <%= movie.description %>
            </p>
          </div>
 
          <div class="movie_social">
            <ul>
              <li><i class="material-icons">Like</i></li>
            </ul>
          </div>
        </div>
        <div class="blur_back bright_back">
          <style>
            .bright_back{
               background: url("<%= movie.coverphoto %>");
            }
          </style>

              <% }) %>
        </div>
      </div>










      <div class="movie_card" id="tomb">
        <div class="info_section">
          <div class="movie_header">
            <% data2.forEach(function(mov2) { %>
              <img class="locandina" src="<%= mov2.Image %>"/>
                  <h1><%= mov2.title %></h1>
                  <h4><%= mov2.year %></h4>
                  <span class="minutes"><%= mov2.duration %> min</span>
                  <p class="type"><%= mov2.type %></p>
              
          </div>
            <div class="movie_desc">
              <p class="text">
                <%= mov2.description %>
              </p>
            </div>
            <div class="movie_social">
              <ul>
                <li><i class="material-icons">Like</i></li>
              </ul>
            </div>
          </div>
          <div class="blur_back tomb_back">
            <style>
              .tomb_back{
                background: url("<%= mov2.coverphoto %>");
              }
            </style>
                <% }) %>
          </div>
        </div>
      








      
      <div class="movie_card" id="ave">
        <div class="info_section">
          <div class="movie_header">
            <% data3.forEach(function(mov3) { %>
              <img class="locandina" src="<%= mov3.Image %>"/>
                  <h1><%= mov3.title %></h1>
                  <h4><%= mov3.year %></h4>
                  <span class="minutes"><%= mov3.duration %> min</span>
                  <p class="type"><%= mov3.type %></p>
              
          </div>
            <div class="movie_desc">
              <p class="text">
                <%= mov3.description %>
              </p>
            </div>
          
            <div class="movie_social">
              <ul>
                <li><i class="material-icons">Like</i></li>
              </ul>
            </div>
          </div>
          <div class="blur_back ave_back">
            <style>
              .ave_back{
                background: url("<%= mov3.coverphoto %>");
              }
            </style>
              <% }) %>
        </div>
      </div>
</body>
</html>
